<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a cars</title>
  </head>
  <body>
    <body>
      <h1>Create a New Cars!</h1>
      <form action="/cars" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <label for="description">description:</label>
        <input type="text" name="description" id="description" />
        <label for="image">image:</label>
        <input type="text" name="image" id="image" />
        <button type="submit">Add Car</button>
      </form>
    </body>
  </body>
</html>
